.liveVideoBar {
  display: flex;
  flex-direction: row;
  background-color: var(--video-bg-color);
  height: 60px;
  line-height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;

  .go-back-circle-button {
    vertical-align: middle;
    display: inline-block;
    margin-right: 13px;
    border-radius: 50%;
    border: 1px solid var(--gray-accent);
    width: 39px;
    height: 39px;
    line-height: 39px;
    text-align: center;
    .ion-ios-arrow-back {
      margin-left: -2px;
      font-size: 25px; /* chevron icon size */
    }
  }
  .go-back {
    color: var(--tertiary-font-color);
    text-decoration: none;
    margin-left: 28px;
    flex-shrink: 0;
  }
  .title-wrap {
    height: 60px;
    line-height: 60px;
    flex-grow: 1;
    display: flex;
    min-width: 0; /* fix for flex-overflow: ellipsis */
  }
  .live {
    font-size: var(--font-small);
    font-weight: bold;
    letter-spacing: 1.2px;
    background-color: var(--live-label);
    color: var(--primary-font-color);
    width: 45px;
    height: 20px;
    line-height: 20px;
    margin: auto 0 auto 65px;
    text-align: center;
    display: inline-block;
  }
  .title {
    flex-grow: 1;
    font-size: var(--font-secondary-headings);
    font-weight: bold;
    color: var(--tertiary-font-color);
    margin: auto 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .right-col {
    width: 25%;
    position: relative;
    display: flex;
  }
  .share, .guide {
    text-align: center;
    color: #878a8e;
    font-size: var(--font-tertiary-headings);
    font-weight: 600;
    letter-spacing: 0.2;
    text-decoration: none;
    display: block;
    &.select {
      color: var(--aqua-accent);
    }
  }
  .share {
    i {
      display: none;
    }
  }
  .guide {
    flex-grow: 1;
    i {
      margin-right: 10px;
    }
  }
  .share-wrap {
    flex-grow: 1;
    display: inline-block;
    position: relative;
    text-align: left;
  }
}

@media (--handsets) {
  .liveVideoBar {
    .go-back {
      display: none;
    }
    .title-wrap {
      flex-grow: 1;
      flex-direction: column;
    }
    .live {
      display: block;
      width: 35px;
      height: 16px;
      line-height: 16px;
      letter-spacing: 1px;
      font-size: var(--font-xtra-small);
      margin: 11px 0 5px 16px;
    }
    .title {
      display: block;
      font-size: var(--font-main-text);
      line-height: 16px;
      height: 16px;
      margin: 0 0 0 16px;
    }
    .right-col {
      width: auto;
      flex-grow: 0;
      .guide {
        display: none;
      }
    }
    .share {
      padding: 0 24px;
      span {
        display: none;
      }
      i {
        display: block;
        font-size: 30px; /* share icon size for mobile */
      }
    }
  }
}
