.live-player {
  color: var(--primary-font-color);
  height: calc(100vh - 125px);

  .video-player {
    height: 100%;
  }
}

@media(--tablets-n-desktops) {
  .live-player {
    height: calc(100vh - 65px);

    .video-player {
      height: calc(100% - 60px);
    }
  }
}
