.slider-card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-card-title {
  word-break: break-word;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-shadow: 0 2px 11px rgba(0, 0, 0, 0.5);
  margin: 0 0 10px 0;
}

.slider-card-desc {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: left;
  color: var(--tertiary-font-color);
  text-shadow: 0 2px 11px rgba(0, 0, 0, 0.5);
  margin: 0;
  max-width: 500px;
}

.slider-card-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;

  img {
    width: 100%;
  }
}

.play-button, .play-arrow-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

.play-button {
  left: 50%;
  width: 90px;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.play-arrow-icon {
  position: absolute;
  left: 55%;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 27px solid var(--primary-font-color);
  border-radius: 2px;
}

@media (--tablets-n-desktops) {
  .slider-card-desc-container {
    margin: 289px 84px 0 84px;
  }

  .play-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
  }

  .play-arrow-icon {
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 27px solid var(--primary-font-color);
    border-radius: 2px;
  }
}

@media (--handsets-n-tablets) {
  .slider-card-desc-container {
    margin-top: 150px;
    padding: 0 20px;
    margin-bottom: 50px;
  }

  /*TODO update these with updated variables*/
  .slider-card-title {
    font-size: 30px;
    line-height: 30px;
  }

  .slider-card-desc {
    font-size: 14px;
    line-height: 20pt;
    letter-spacing: 0.2px;
  }

  .play-button {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
  }

  .play-arrow-icon {
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 27px solid var(--primary-font-color);
    border-radius: 2px;
  }
}