/* All @custom stuff MUST go in this file to work. Might as put variables here too... */
/* Media Query Variables */
@custom-media --handsets (width <= 768px);
@custom-media --tablets (width > 768px) and (width < 1025px);
@custom-media --handsets-n-tablets (width < 1025px);
@custom-media --tablets-n-desktops (width > 768px);
@custom-media --desktops (width >= 1025px);


/* Custom @custom-properties */
/*@custom-selector :--heading h1, h2, h3, h4, h5, h6;*/

/* App Styling Variables */
:root {
  /* Brand Colors */ /*-- Commented names are from styleguide --*/

  /* Background Colors*/
  --primary-bg-color: #999967;
  --secondary-bg-color: #CCCCCC;
  --secondary-bg-color-dark: #666666;
  --accent-bg-color: #CCCC9A;
  --footer-bg-color: var(--secondary-bg-color-dark);
  --black-bg: #000;
  --white-bg: #fff;

  /* Font Colors */
  --primary-font-color: #fff;
  --secondary-font-color: #efefef;
  --tertiary-font-color: #004489; /*--pinkish-grey: #cccccc;*/

  /* Theme Colors */
  --gray-accent: #4d555c;
  --aqua-accent: #96C0CE;

  /* Font Sizes */
  --font-major-headings: 36px;
  --font-secondary-headings: 20px;
  --font-tertiary-headings: 14px;
  --font-main-text: 14px;
  --font-small: 12px;
  --font-xtra-small: 10px;
  --font-menu-icon: 40px;

  /* Spacing */
  --handset-spacing: 20px;
  --tablet-spacing: 40px;
  --desktop-spacing: 80px;
}

