/* All @custom stuff MUST go in this file to work. Might as put variables here too... */
/* Media Query Variables */
@custom-media --handsets (width <= 768px);
@custom-media --tablets (width > 768px) and (width < 1025px);
@custom-media --handsets-n-tablets (width < 1025px);
@custom-media --tablets-n-desktops (width > 768px);
@custom-media --desktops (width >= 1025px);


/* Custom @custom-properties */
/*@custom-selector :--heading h1, h2, h3, h4, h5, h6;*/

/* App Styling Variables */
:root {
  /* Brand Colors */ /*-- Commented names are from styleguide --*/

  /*TODO these are from the styleguide, need to update to reusable vars*/
  /*--white-three: #dddddd;*/
  /*--greyish-brown: #444444;*/
  /*--turquoise-blue: #06b5c9;*/

  /* Background Colors*/
  --primary-bg-color: #13181c;
  --secondary-bg-color: #282d34; /*--charcoal-grey-two: #282d34;*/
  --ad-bg-color: #999; /*--warm-grey: #999999;*/
  --brand-bg-black: #000;
  --brand-bg-very-dark: #12171b;
  --footer-bg-color: #1d242a;
  --video-bar-bg-color: #1c242a;
  --video-bg-color: #272d34; /*--charcoal-grey: #272d34;*/
  --white-bg: #fff;

  /* Font Colors */
  --primary-font-color: #fff;
  --secondary-font-color: #efefef;
  --tertiary-font-color: #ccc; /*--pinkish-grey: #cccccc;*/
  --secondary-light-font-color: #f0f0f0; /*--white-two: #f0f0f0;*/

  /* Theme Colors */
  --live-label: #c6002a; /*--lipstick-red: #c6002a;*/
  --gray-accent: #4d555c; /*--gunmetal: #4d555d;*/
  --aqua-accent: #06d6e6; /*--aqua-blue: #06d6e9;*/

  /* Font Sizes */
  --font-major-headings: 36px;
  --font-secondary-headings: 20px;
  --font-tertiary-headings: 14px;
  --font-main-text: 14px;
  --font-small: 12px;
  --font-xtra-small: 10px;
  --font-menu-icon: 40px;

  /* Spacing */
  --handset-spacing: 20px;
  --tablet-spacing: 40px;
  --desktop-spacing: 80px;

  /* Features */
  --scroll-arrows: {
    color: #c4c4c4;
    position: absolute;
    font-size: 25px;
    outline: none;
    background: transparent;
    width: 10px;
    border: none;
    top: 40%;
    text-align: center;
    padding: 0;
    cursor: pointer;
  };
}

@custom-selector :--scroll-arrows-wrapper .scroll-arrows-wrapper, .right, .left;
@custom-selector :--enter :hover, :focus;

:--scroll-arrows-wrapper {
  @apply --scroll-arrows;
}

:--scroll-arrows-wrapper:--enter {
  color: var(--primary-font-color);
}
