@import '../../styles/variables.css';
@import '../../styles/main.css';

.footer {
  display: flex;
  background-color: var(--footer-bg-color);
}

.footerNavList, .footerSocialList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footerNavList {
  display: flex;
}

.footerSocialList {
  display: flex;
  justify-content: space-between;
}

.footerNavSplit {
  padding: 0 10px;
  color: var(--gray-accent);
}

.footerSocialItem {
  text-align: center;
  padding: 0 10px;
}

.footerNavLink {
  color: var(--secondary-light-font-color);
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;
}

.footerSocialLink {
  color: var(--secondary-light-font-color);
  background-color: var(--gray-accent);
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  line-height: 45px;
}

@media (--handsets-n-tablets) {
  .footer {
    padding-top: 35px;
    padding-bottom: 35px;
    flex-flow: column wrap;
    justify-content: center;
  }

  .footerLogoWrapper {
    display: none;
  }

  .footerNavWrapper {
    order: 2;
  }

  .footerSocialWrapper {
    order: 1;
    margin-bottom: 40px;
  }

  .footerNavList {
    justify-content: center;
    flex-flow: row wrap;
    margin: 0;
  }

  .footerSocialList {
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .footerNavItem {
    padding: 0;
  }

  .footerNavLink {
    font-size: 12px
  }
}

@media (--desktops) {
  .footer {
    padding-top: 100px;
    padding-bottom: 80px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .footerLogo {
    height: 40px;
    margin-left: 0;
  }

  .footerLogoWrapper, .footerNavWrapper, .footerSocialWrapper {
    min-width: 175px;
  }

  .footerNavWrapper{
    flex: 1 1 auto;
  }

  .footerNavList {
    justify-content: center;
  }

  .footerNavSplit {
    padding: 0 30px;
  }
}
