@import '../../styles/variables.css';

.navList {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navListItem {
  &.selected {
    .navLink {
      border-bottom: solid 3px var(--tertiary-font-color);
    }
  }
}

.navLink {
  margin-left: 0;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: var(--primary-font-color);
  text-decoration: none;

  &:hover {
    border-bottom: solid 3px var(--aqua-accent);
  }
}

@media (--handsets-n-tablets) {
  .navContainer {
    .menu {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top: 65px;
      z-index: 99998;
      background-color: var(--secondary-bg-color-dark);
      overflow-y: scroll;
    }
  }

  .navContainer {
    .navList {
      flex-flow: column nowrap;
      justify-content: center;
      margin: 0;
    }

    .navListItem {
      text-align: center;
      padding: 0 var(--handset-spacing);
      height: 50px;
      font-size: 16px;
      line-height: 50px;
      cursor: pointer;
    }

    .navLink {
      padding-bottom: 2px;
    }
  }
}

@media (--desktops) {
  .navListItem {
    font-size: 12px;
  }

  .navLink {
    padding-bottom: 8px;
    margin-right: 35px;
  }
}
